.box-shadow {
  box-shadow: rgb(255 255 255) 0px 0px 6px 1px !important;
}

.el-box-shadow {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%) !important;
}

.shadow-l {
  box-shadow: 2px 0 6px rgb(0 21 41 / 15%);
}

.border-bfb {
  border-radius: 100%;
}

.overflow-hidden {
  overflow: hidden;
}
