// margin top right bottom left s:6 x:12 xl:18 xxl:24 lg:32
.margin-s {
  margin: 6px !important;
}
.margin-x {
  margin: 12px !important;
}
.margin-xl {
  margin: 18px !important;
}
.margin-xxl {
  margin: 24px !important;
}
.margin-lg {
  margin: 32px !important;
}

// margin -top -bottom  s:6 x:12 xl:18 xxl:24
.margin-tbs {
  margin: 6px 0 !important;
}
.margin-tbx {
  margin: 12px 0 !important;
}
.margin-tbxl {
  margin: 18px 0 !important;
}
.margin-tbxxl {
  margin: 24px 0 !important;
}
.margin-tblg {
  margin: 32px 0 !important;
}

// margin -left -right  s:6 x:12 xl:18 xxl:24
.margin-lrs {
  margin: 0 6px !important;
}
.margin-lrx {
  margin: 0 12px !important;
}
.margin-lrxl {
  margin: 0 18px !important;
}
.margin-lrxxl {
  margin: 0 24px !important;
}
.margin-lrlg {
  margin: 0 32px !important;
}

// margin -top s:6 x:12 xl:18 xxl:24
.margin-ts {
  margin-top: 6px !important;
}
.margin-tx {
  margin-top: 12px !important;
}
.margin-txl {
  margin-top: 18px !important;
}
.margin-txxl {
  margin-top: 24px !important;
}
.margin-tlg {
  margin-top: 32px !important;
}

// margin -right s:6 x:12 xl:18 xxl:24
.margin-rs {
  margin-right: 6px !important;
}
.margin-rx {
  margin-right: 12px !important;
}
.margin-rxl {
  margin-right: 18px !important;
}
.margin-rxxl {
  margin-right: 24px !important;
}
.margin-rlg {
  margin-right: 32px !important;
}

// margin -bottom s:6 x:12 xl:18 xxl:24
.margin-bs {
  margin-bottom: 6px !important;
}
.margin-bx {
  margin-bottom: 12px !important;
}
.margin-bxl {
  margin-bottom: 18px !important;
}
.margin-bxxl {
  margin-bottom: 24px !important;
}
.margin-blg {
  margin-bottom: 32px !important;
}

// margin -left s:6 x:12 xl:18 xxl:24
.margin-ls {
  margin-left: 6px !important;
}
.margin-lx {
  margin-left: 12px !important;
}
.margin-lxl {
  margin-left: 18px !important;
}
.margin-lxxl {
  margin-left: 24px !important;
}
.margin-llg {
  margin-left: 32px !important;
}

// margin top bottom 0
.margin-tbz {
  margin-top: 0 ;
  margin-bottom: 0 ;
}
// margin left right 0
.margin-lrz {
  margin-left: 0 ;
  margin-right: 0 ;
}
// margin top 0
.margin-tz {
  margin-top: 0 !important;
}
// margin bottom 0
.margin-bz {
  margin-bottom: 0  !important;
}
// margin left 0
.margin-lz {
  margin-left: 0  !important;
}
// margin right 0
.margin-rz {
  margin-right: 0 !important;
}