// padding top right bottom left s:6 x:12 xl:18 xxl:24
.padding-s {
  padding: 6px !important;
}
.padding-x {
  padding: 12px !important;
}
.padding-xl {
  padding: 18px !important;
}
.padding-xxl {
  padding: 24px !important;
}
.padding-lg {
  padding: 32px !important;
}

// padding -top -bottom  s:6 x:12 xl:18 xxl:24
.padding-tbs {
  padding: 6px 0 !important;
}
.padding-tbx {
  padding: 12px 0 !important;
}
.padding-tbxl {
  padding: 18px 0 !important;
}
.padding-tbxxl {
  padding: 24px 0 !important;
}
.padding-tblg {
  padding: 32px 0 !important;
}


// padding -left -right  s:6 x:12 xl:18 xxl:24
.padding-lrs {
  padding: 0 6px !important;
}
.padding-lrx {
  padding: 0 12px !important;
}
.padding-lrxl {
  padding: 0 18px !important;
}
.padding-lrxxl {
  padding: 0 24px !important;
}
.padding-lrlg {
  padding: 0 32px !important;
}


// padding -top s:6 x:12 xl:18 xxl:24
.padding-ts {
  padding-top: 6px !important;
}
.padding-tx {
  padding-top: 12px !important;
}
.padding-txl {
  padding-top: 18px !important;
}
.padding-txxl {
  padding-top: 24px !important;
}
.padding-tlg {
  padding-top: 32px !important;
}


// padding -right s:6 x:12 xl:18 xxl:24
.padding-rs {
  padding-right: 6px !important;
}
.padding-rx {
  padding-right: 12px !important;
}
.padding-rxl {
  padding-right: 18px !important;
}
.padding-rxxl {
  padding-right: 24px !important;
}
.padding-rlg {
  padding-right: 32px !important;
}

// padding -bottom s:6 x:12 xl:18 xxl:24
.padding-bs {
  padding-bottom: 6px !important;
}
.padding-bx {
  padding-bottom: 12px !important;
}
.padding-bxl {
  padding-bottom: 18px !important;
}
.padding-bxxl {
  padding-bottom: 24px !important;
}
.padding-blg {
  padding-bottom: 32px !important;
}


// padding -left s:6 x:12 xl:18 xxl:24
.padding-ls {
  padding-left: 6px !important;
}
.padding-lx {
  padding-left: 12px !important;
}
.padding-lxl {
  padding-left: 18px !important;
}
.padding-lxxl {
  padding-left: 24px !important;
}
.padding-llg {
  padding-left: 32px !important;
}

// padding top bottom 0
.padding-tbz {
  padding-top: 0 ;
  padding-bottom: 0 ;
}
// padding left right 0
.padding-lrz {
  padding-left: 0 ;
  padding-right: 0 ;
}
// padding top 0
.padding-tz {
  padding-top: 0 !important;
}
// padding bottom 0
.padding-bz {
  padding-bottom: 0  !important;
}
// padding left 0
.padding-lz {
  padding-left: 0  !important;
}
// padding right 0
.padding-rz {
  padding-right: 0 !important;
}